/*estilos generlas*/
:root{
    font-size: 16px;
}
body{
    background-color: #47aed8;
    margin: 0;
    z-index: 98;
}
a{
    text-decoration: none;
    color: white;
}
/*estilos del header*/

header{

    background-color: #0079ac;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;

}

header img{
    height: 5rem;
    width: 5rem;
    padding-right: 3rem;
}

nav{
    margin:0;
    display: inline-block;
    margin: 1rem 1rem 2rem 3rem;    
}

nav a{
    background-color: #47aed8;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3vh;

}

nav a:hover{
    background-color:#19263b;
}

a:-webkit-any-link {

    cursor: pointer;
    text-decoration: none;
}
p{
    color: white;
    font-family: "Gloria Hallelujah", cursive;
}

span{
    color:#0079ac;
    font-weight: bold;
}

/*estilos de la pagina home*/

main img{
    width: 80vw;
    height: 20vw;
    border: 3px solid white;
}

.homeprincipal{
    text-align: center;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 h1{
    
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-style: normal;  
    font-size: xxx-large;
    margin: 0.3rem; 
    color: white; 
}
h1:hover{
    color: yellow;
}
 h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-style: normal;  
    font-size: x-large;
    margin: 0.3rem;
    color: white;   

}
.homesecondary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
    align-items:flex-start

}
.textsection{
    max-width: 40vw;
    height: 10vw;
    text-align: justify;
    margin-right: 2rem;
    vertical-align: top;
}
.homesecondary p{
    color: white;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;  
}

.homesecondary img{
    width: 20vw;
    height: 20vw;

}

.homesecondary a{
    background-color: #266983;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: "Gloria Hallelujah", cursive;

}

.homesecondary:hover{
    background-color:#19263b;
}

.homesecondary:hover p{
    color:aqua;
}
.homesecondary:hover span{
    color:yellow;
}

#home_text1 p{
    font-size: 1.8vw;
}

#home_text2{
    padding: 1rem;
    text-align: center;
}

#home_text2 p{
    display: flex;
    font-size: 2.3vw;
    

}
#home_text2 a{
    text-align: center;
}



/*estilo del footer*/
footer{
    background-color: #0079ac;
    padding: 3vh;
    text-align: center;
    color: white;

}


/*estilo de la pagina about*/

.main_about{
    text-align: center;
}

.space{
    vertical-align: top;
    padding: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space:hover{
    background-color:#19263b;
    
}
.space:hover p{
    color:aqua;
    
}
.space:hover span{
    color:yellow;
    
}

.space img{
    height: 25vw;
    width: 25vw;
    
}

.space p{
    max-width: 40%;
    padding-left: 2rem;
    font-size: 2vw;
}

/*estilo contact page*/

.maincontact{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maincontact img{
    width: 60vw;
    height: auto;
}
.sectionContact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContact p{
    text-align: center;
    width: 60%;
    padding: 1rem;
    font-size: 4vh;

}
.contact{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.contact h3{
    padding: 1rem;
    background-color: #0079ac;
    border-radius: 10px;
    font-size: 3vh;
}
.contact h3:hover{
    background-color:#19263b;
}

/*estilo de la pagina information*/

.mainmoreinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    font-family: "Gloria Hallelujah", cursive;
    border: 1px solid #000;
    border-collapse: collapse; 
    border-spacing: 5px;
}

td,th{
    
    border: 1px solid #000;
    


}

