/*estilos generlas*/

body{
    background-color: pink;
    margin: 0;
}
/*estilos del header*/

header{

    background-color: palevioletred;

}

header img{
    height: 10vh;
    width: 10vh;
    display: inline;
    padding-left: 70vw;

}

nav{
    margin:0;
    display: inline-block;
    margin: 1rem 1rem 2rem 4rem;
}

nav a{
    background-color: purple;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid black;
}

/*estilos de la pagina home*/

main img{
    width: 60vw;
    height: 20vw;
    border: 3px solid white;
}

.homeprincipal{
    text-align: center;
    padding-bottom: 10vh;
}
.homesecondary{
    text-align: center;
    justify-content: center;

}
.textsection{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    max-width: 40vw;
    height: 10vw;
    text-align: justify;
    margin-right: 2rem;
    box-sizing: content-box;

}
.homesecondary p{
    color:palevioletred;
    display: inline;
    width: 30vw;
    position: relative;
    bottom: 14vw; 
    left: 1rem;
   

}

.homesecondary img{

    display: inline-block;
    width: 20vw;
    height: 20vw;

}


/*estilo del footer*/
footer{
    background-color: palevioletred;
    padding: 3vh;
    text-align: center;
    color: white;

}


/*estilo de la pagina about*/
.main_about{
    text-align: center;
    color:palevioletred;
    

}

.space{

    padding: 1rem;
    padding-right:40vw ;

}

.space img{
    height: 25vw;
    width: 25vw;
    display: inline;
}

.space p{
    display: inline-block;
    max-width: 40%;
    padding-left: 2rem;
    position: absolute;
}